Source: communicator
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    cppprocess-dev (>= 1.1.52.0~jammy),
    cppthread-dev (>= 1.0.0.0~jammy),
    debhelper-compat (= 13),
    dh-exec,
    dh-sysuser,
    doxygen,
    graphviz,
    edhttp-dev (>= 0.1.0.0~jammy),
    eventdispatcher-dev (>= 1.1.52.0~jammy),
    libas2js-dev (>= 0.1.36.0~jammy),
    libaddr-dev (>= 1.0.17.0~jammy),
    libadvgetopt-dev (>= 2.0.1.0~jammy),
    libexcept-dev (>= 1.1.4.0~jammy),
    libncurses-dev,
    libqt5x11extras5-dev,
    libreadline-dev,
    libssl-dev (>= 1.0.1),
    libutf8-dev (>= 1.0.6.0~jammy),
    qtbase5-dev,
    serverplugins-dev (>= 2.0.2.0~jammy),
    snapcatch2 (>= 2.9.1.0~jammy),
    snapcmakemodules (>= 1.0.49.0~jammy),
    snapdev (>= 1.1.3.0~jammy),
    snaplogger-dev (>= 1.0.0.0~jammy)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/eventdispatcher

Package: communicator-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the communicator daemons and tools.
 The communicator service is a daemon allowing RPC like communication
 between services running in a cluster of servers. This package holds the
 documentation of the service.

Package: communicator
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Communicator library, an advanced RPC system.
 This package holds the communicator library used by clients of the
 Communicator daemon. It allows for connecting and handling basic messages
 without duplicating the code in each client.

Package: communicatord
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Communicator daemon, an advanced RPC system.
 This package holds the communicator service which runs on all your
 computers in your cluster and allows easy communication between all the
 services running on those computers without the need to graph the location
 of each service (auto-discovery).

Package: communicator-dev
Section: libdevel
Architecture: any
Depends: communicator, ${shlibs:Depends}, ${misc:Depends}
Description: The Communicator headers for developers.
 This package adds the necessary files for a developer to compile and link
 against the communicator library.

# vim: ts=4 sw=4 et
